@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

h3 {
  font-family: "Montserrat", sans-serif;
  margin:0;
  font-size: 30px;
  border-style: solid;
}

.fa-2x {
font-size: 2em;
}
.fa {
color:white;
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
padding-top:10px;
font-size:20px;
}


#main-menu:hover,nav.main-menu.expanded {
width:230px;
overflow:hidden;
}

#main-menu {
/* background:#3D5A80; */
/* background:rgb(228,228,228); */
border-right:5px solid #e0fbfc;/*#98c1d9;*/ 
position: absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .1s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

#main-menu>ul {
margin:7px 0;
}

#main-menu li {
position:relative;
display:block;
width:250px;
height: 160px;
}

#main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
/* color:#EE6C4D; */
 font-family: arial;
font-size: 20px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
height: 106px;
}

#current > .fa {
    padding-top:30px;
}

#current{
    background:#EE6C4D
}

#main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:200px;
font-family: 'Montserrat', sans-serif;
font-size: 35px;
color: white;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
#main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
/* color:#EE6C4D;
background-color:white; */
height: 140px;
vertical-align: center;
/* border-style:solid;
border-color:#98c1d9; */

}

body {
  background: rgb(21,159,247);
  background: linear-gradient(90deg, rgba(21,159,247,1) 0%, rgba(61,90,128,1) 0%, rgba(41,50,65,1) 90%);
}

.header{
    background-color: #FDF8F5;
}

h1{
    text-align: center;
}

#nav-menu{
    list-style-type: none;
    margin:10px;
    padding:10px;
    width:130px;
    background-color: #DDAF94;
    border-style:solid;
    border-top-color: #E8CEBF;
    border-left-color: #E8CEBF;
    border-bottom-color: #E8CEBF;
}

button{
    width: 120px;
    height: 50px;
}

li > button {
    border:none;
    background-color:#FDF8F5;
    height: 90px;
    border-radius: 40%;
    padding: 12px 16px;
    font-size:16px;
    cursor: pointer;
    margin-top: 10%;
}

li > button:hover {
    background-color: #266150;
    color:white;
}

li > a, a:link {
    color: #4F4846;
}

.navbar{
    display:flex;
    flex-direction: column;
}

#title {
  border-style: solid;
  border-color: #98c1d9;
  border-width: 5px;
  width: 25vw;
  margin: auto;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 20px;
  color: white;
  margin-bottom: 8vh;
}

#title > h1 {
  text-align: center;
  vertical-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin: 0;
  line-height: 120px;
}

#home > .fa {
  padding-top:30px;
}

#content {
  margin:auto;
  margin-left: 11vw;
  margin-right:5vw;
}

#entry {
    width: 75vw;
    border-radius: 30px;
    margin-left: 4vw;
}

#media-gallery {
    /* border-style: solid; */
    border-radius: 20px;
    margin-top: 30px;
    align-items: flex-start;
    /* border-color: blue; */
    display:none;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

/* #journal-content {
    display: flex;
    flex-direction: column;
    align-items:baseline;
} */

#collapse {
  position: relative;
  left: 48%; 
}

#collapse > i{
  padding-top: 0;
}

#right {
  float: right;
  top: 50%;
  /* margin-right: 20px;
  margin-top:50px; 
  width:50px;
  position: relative;
  left: 95%;
  margin-right: 100px; */
}

#quote {
  border-style: solid;
  /* border-color: black; */
}

#pretty {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 5vw;
  bottom: 5vh;

}

.date{
    width: 200px;
    height: 49px;
    left: 41px;
    top: 29px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #83A603;
}

#myUL li {
    position: relative;
    display: table;
    padding: 12px 8px 12px 10px;
    list-style-type: none;
    background: #eee;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    transition: 0.2s;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 5px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  #myUL li:nth-child(odd) {
    background: white;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color:#98c1d9
  }
  #myUL li:nth-child(even) {
    background: white;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color:#98c1d9
  }
  
  /* Darker background-color on hover */
  #myUL li:hover {
    background: #e0fbfc;
    /* we might have to change the cursor */
    cursor:default;
  }
  
  /* When clicked on, add a background color and strike out text */
  #myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  #myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #EE6C4D;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius:20px;
    padding: 20px 30px;
    color: white;
    text-align: center;
    margin-top: 40px;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
  }
  
  /* Style the "Add" button */
  .addBtn {
    width: 10%;
    padding-top: 15px;
    background: #98c1d9;
    border-style:solid;
    border-color:white;
    font-family: "Montserrat", sans-serif;
    color: #EE6C4D;
    float: left;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }
  
  .addBtn:hover {
    background-color: #e0fbfc;
  }
  
  #myDIV {
      display:flex;
      flex-direction: row;
  }
  
  #image-collection{
    border: 8px solid #293241;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 38vw;
    align-items: center;
    margin-top: 20px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  #image-collection > img {
      border:5px dashed black;
      width:400px;
      margin: 10px;
      margin-top:30px;
      margin-bottom:0;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 0;
    font-size:50px;
    color: white;
}

  #video-collection{
    border: 8px solid #3d5A80;
    margin-top:20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 38vw;
    align-items: center;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  #video-collection > video {
    border:5px dashed black;
    width:400px;

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


#add-video-btn {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 200px;
  border-color:#e0fbfc;
  border-style: solid;
  border-width: 2px;
  background-color: #EE6C4D;
  width:250px;
  font-size: 18px;
}

#add-image-btn {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 200px;
  border-color:#e0fbfc;
  border-style: solid;
  border-width: 2px;
  background-color: #EE6C4D;
  width:250px;
  font-size: 18px;
}


.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(21,159,247);
  background: linear-gradient(90deg, rgba(21,159,247,1) 0%, rgba(61,90,128,1) 0%, rgba(41,50,65,1) 90%);
  z-index: 1;
  flex-direction: column;
}