@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
font-size: 2em;
}
.fa {
color: #293241;
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
padding-top:10px;
font-size:20px;
}


#main-menu:hover,nav.main-menu.expanded {
width:230px;
overflow:hidden;
}

#main-menu {
/* background:#3D5A80; */
/* background:rgb(228,228,228); */
border-right:5px solid black;/*#98c1d9;*/ 
position: absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .1s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

#main-menu>ul {
margin:7px 0;
}

#main-menu li {
position:relative;
display:block;
width:250px;
height: 160px;
}

#main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
/* color:#EE6C4D; */
 font-family: arial;
font-size: 20px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
height: 106px;
}

#current > .fa {
    padding-top:30px;
}

#current{
    background:radial-gradient(circle, rgba(224,251,252,1) 0%, rgba(152,193,217,1) 100%);
    border-radius: 30px;
    border-color:black;
}

#main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:200px;
font-family: 'Pattaya', sans-serif;
font-size: 35px;
color: black;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
#main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
/* color:#EE6C4D;
background-color:white; */
height: 140px;
vertical-align: center;
/* border-style:solid;
border-color:#98c1d9; */

}

body {
    display: flex;
    flex-direction: row;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
}

.header{
    background-color: #FDF8F5;
}

h1{
    text-align: center;
}

#nav-menu{
    list-style-type: none;
    margin:10px;
    padding:10px;
    width:130px;
    background-color: #DDAF94;
    border-style:solid;
    border-top-color: #E8CEBF;
    border-left-color: #E8CEBF;
    border-bottom-color: #E8CEBF;
}

button{
    width: 120px;
    height: 50px;
}

li > button {
    border:none;
    background-color:#FDF8F5;
    height: 90px;
    border-radius: 40%;
    padding: 12px 16px;
    font-size:16px;
    cursor: pointer;
    margin-top: 10%;
}

li > button:hover {
    background-color: #266150;
    color:white;
}

li > a, a:link {
    color: #4F4846;
}

.navbar{
    display:flex;
    flex-direction: column;
}

#title {
    width:80vw;
    height: 10vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#home > .fa {
  padding-top:30px;
}

#content {
  margin:auto;
  margin-left: 12vw;
}

#entry {
    width: 80vw;
    border-style: dotted;
    border-color: red;
    margin-left: 10px;
}

#media-gallery {
    border-style: solid;
    /* border-color: blue; */
    margin-left: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

/* #journal-content {
    display: flex;
    flex-direction: column;
    align-items:baseline;
} */

#collapse {
  position: relative;
  left: 44%; 
}

#right {
  float: right;
  top: 50%;
  /* margin-right: 20px;
  margin-top:50px; 
  width:50px;
  position: relative;
  left: 95%;
  margin-right: 100px; */
}

#quote {
  border-style: solid;
  /* border-color: black; */
}

#pretty {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 5vw;
  bottom: 5vh;

}

.date{
    width: 200px;
    height: 49px;
    left: 41px;
    top: 29px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #83A603;
}

#myUL li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  #myUL li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  #myUL li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  #myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  #myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    vertical-align: middle;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  
  #myDIV {
      display:flex;
      flex-direction: row;
  }
  
  #image-collection{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #image-collection > img {
      border:5px dashed black;
      width:400px;
      margin: 10px;
      margin-top:30px;
      margin-bottom:0;
  }

  #video-collection{
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:500px;
  }

  #video-collection > video {
    border:5px dashed black;
    width:400px;

}


.media-gallary{
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  background-color: green;
  height: 100px;
}
