body {
    display: flex;
    flex-direction: row;
    background-color: #FDF8F5;
}

.header{
    background-color: #FDF8F5;
}

h1{
    text-align: center;
}

#nav-menu{
    list-style-type: none;
    margin:10px;
    padding:10px;
    width:130px;
    background-color: #DDAF94;
    border-style:solid;
    border-top-color: #E8CEBF;
    border-left-color: #E8CEBF;
    border-bottom-color: #E8CEBF;
}

button{
    width: 120px;
    height: 50px;
}

li > button {
    border:none;
    background-color:#FDF8F5;
    height: 90px;
    border-radius: 40%;
    padding: 12px 16px;
    font-size:16px;
    cursor: pointer;
    margin-top: 10%;
}

li > button:hover {
    background-color: #266150;
    color:white;
}

li > a, a:link {
    color: #4F4846;
}

.navbar{
    display:flex;
    flex-direction: column;
}

#title {
    width:80vw;
    height: 10vh;
    display:flex;
    flex-direction: row;
}

#entry {
    width: 80vw;
    border-style: dotted;
    border-color: red;
    margin-left: 10px;
}

#reflection {
    border-style: solid;
    border-color: blue;
    width:80vw;
    height: 40vh;
    margin-left: 10px;
}

/* #journal-content {
    display: flex;
    flex-direction: column;
    align-items:baseline;
} */

#collapse {
  position: relative;
  left: 44%; 
}

#right {
  float: right;
  top: 50%;
  /* margin-right: 20px;
  margin-top:50px; 
  width:50px;
  position: relative;
  left: 95%;
  margin-right: 100px; */
}

#quote {
  border-style: solid;
  border-color: black;
}


#pretty {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 5vw;
  bottom: 5vh;

}

.date{
    width: 200px;
    height: 49px;
    left: 41px;
    top: 29px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #83A603;
    outline: none;
}

#myUL li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  #myUL li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  #myUL li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  #myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  #myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    vertical-align: middle;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  
  #myDIV {
      display:flex;
      flex-direction: row;
  }

  #dropdown{
    display: inline;

  }

 #textbox{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border-style:dashed;
    border-color:gold;
  } 
  
  #save, #cancel {
    width: 60px;
    height: 30px;
  }

  #save:hover {
    background-color: grey;
    cursor: pointer;
  }

  #cancel:hover {
    background-color: grey;
    cursor: pointer;
  }


#date-input {
  width: 10vw;
  flex:1;
  outline: none;
}
#time-input {
  width: 10vw;
  flex:1;
  outline: none;
}
input{
  background: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid green;
  margin-left:20px;
}

input:focus {
  outline: none;
}

#date-time{
  display: inline;
}

#save{
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

#cancel{
  margin-bottom: 30px;
  margin-left:10px;
  margin-top: 30px;
}

#text-input{
  margin-top: 30px;
  margin-bottom: 30px;
}

#bullet-type{
  margin-left: 30px;
}