name: Node.js CI

on:
  push:
    branches:
    - main
    - experimental**
  pull_request:
    branches:
    - main
    - experimental**

jobs:
  test:
    name: Test on node ${{ matrix.node_version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Test Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test

  lint:
    name: Linting and StandardJS styleguide enforcement ${{ matrix.node_version }}
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
    
    steps:
    - uses: actions/checkout@v2
    - name: Lint Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run lint_tests --if-present
    - run: npm run lint_src --if-present
  
  coverage:
    name: Code coverage ${{ matrix.node_version }}
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
    
    steps:
    - uses: actions/checkout@v2
    - name: Lint Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run coverage
    
  documentation:
    name: Doc generation
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Coverage Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 15.x
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run docs
  
